sh/overrides.sh
sh/preload.sh
sh/sessionizer-additions.sh
zsh/.p10k.zsh
others/settings.json
nvim/lua/plugins/extra.lua
nvim/system-prompt-overrides.md
nvim/spell/*.*.add.spl
nvim/spell/*.*.spl
nvim/spell/*.*.sug
bash/fzf-tab-completion
zsh/fzf-tab
zsh/zsh-autosuggestions
zsh/zsh-syntax-highlighting
walker/themes/default*.*
